@model CarWorld.ViewModels.CarViewModels.CarsListViewModel

@{
    this.ViewData["Title"] = $"All cars, page {Model.PageNumber}";
}

<h1 class="text-center">@this.ViewData["Title"]:</h1>

<hr>

<div class="row">
    @foreach (var car in this.Model.Cars)
    {
        <div class="media col-md-4 p-2">
            <img class="mr-3" src="@car.PictureUrl" width="170" height="105" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0"><a asp-controller="Cars" asp-action="CarById" asp-route-id="@car.CarId">@car.MakeName @car.ModelName</a></h5>
                @car.Description
            </div>
        </div>
    }
</div>

<hr>

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item @if(!Model.HasPreviousPage) {<text>disabled</text>} ">
            <a class="page-link" asp-action="All" asp-route-id="@Model.PreviousPageNumber">Previous</a>
        </li>
        @for (int i = Model.PageNumber - 4; i < Model.PageNumber; i++)
        {
            @if (i > 0)
            {
                <li class="page-item"><a class="page-link" asp-action="All" asp-route-id="@i">@i</a></li>
            }
        }
        <li class="page-item active">
            <span class="page-link">
                @Model.PageNumber
                <span class="sr-only">(current)</span>
            </span>
        </li>
        @for (int i = Model.PageNumber + 1; i < Model.PageNumber + 4; i++)
        {
            @if (i <= Model.PagesCount)
            {
                <li class="page-item"><a class="page-link" asp-action="All" asp-route-id="@i">@i</a></li>
            }
        }
        <li class="page-item" @if (!Model.HasNextPage) { <text> disabled</text>}>
            <a class="page-link" asp-action="All" asp-route-id="@Model.NextPageNumber">Next</a>
        </li>
    </ul>
</nav>

<br>
<br>