@model CarWorld.ViewModels.CarViewModels.CarViewModel

@{
    this.ViewData["Title"] = $"{Model.Make.Name} {Model.Model.Name}";
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <div class="container">
        <div class="text-center">
            <h1 class="text-center p-2">@Model.Make.Name @Model.Model.Name</h1>
        </div>

        <div class="text-center">
            @if (this.User.IsInRole("Admin") || (Model.CurrentUserId == Model.AddedByUser.Id))
            {
                <a asp-controller="Cars" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary" style="width: auto">Edit car</a>
                <a asp-controller="Cars" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger" style="width: auto">Delete car</a>
            }
        </div>

        <hr>

        <div class="row text-center offset-2 col-md-8">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-pause="hover" data-interval="3700">

                @foreach (var picture in Model.Pictures)
                {
                    <div class="carousel-item @(picture == Model.Pictures.First() ? "active" : "")">
                        <img class="center-block img-responsive rounded" width="680" height="400" src="@picture.Url.ToString()" alt="">
                    </div>
                }
            </div>
        </div>

        <hr>

        <div class="text-justify">
            <h4 class="text-center my-2 font-weight-bold">Description:</h4> @Model.Description
        </div>

        <div class="form-group mt-3">
            <div class="row">
                <div class="col">
                    <h4 class="font-weight-bold my-2"><i class="fas fa-truck-pickup"></i> Body type:</h4> @Model.BodyType.Name
                    <h4 class="font-weight-bold my-2"><i class="fas fa-tachometer-alt"></i> Year:</h4> @Model.Year
                </div>
                <div class="col align-content-end">
                    <h4 class="font-weight-bold offset-5 my-2"><i class="fas fa-dollar-sign"></i> Price:</h4>
                    <p class="offset-5 my-2my-2">@Model.Price</p>
                    <h4 class="font-weight-bold offset-5 my-2my-2"><i class="fas fa-calendar-alt"></i> Created on:</h4>
                    <p class="offset-5 my-2my-2">@Model.CreatedOn</p>
                </div>
            </div>

            <div class="p-1" style="margin-left: 500px">
                <h4 class="font-weight-bold">Rating:</h4>

                <div class="row">

                    <a href="#" onclick="sendVote(@Model.Id, true)">
                        <i class="fas fa-thumbs-up" style="margin-right: 5px; margin-left: 20px;"></i>
                    </a>

                    <div style="margin-right: 5px" ; id="votesCount">@Model.VotesCount</div>

                    <a href="#" onclick="sendVote(@Model.Id, false)">
                        <i class="fas fa-thumbs-down"></i>
                    </a>

                </div>
            </div>

            <div class="offset-4 col-md-7">
                <h4 class="font-weight-bold my-2 "><i class="fas fa-user"></i> Added by: @Model.AddedByUser.FirstName @Model.AddedByUser.LastName</h4>
            </div>

            <br>

            <h5 class="font-weight-bold"><i class="fas fa-comments" style="margin-right:10px"></i>Comments:</h5>
            @{
                await Html.RenderPartialAsync("_MainCommentPartial", new CarCommentViewModel { CarId = Model.Id, UserId = Model.AddedByUser.Id, MainCommentId = 0 });
            }
            @foreach (var mc in Model.MainComments)
            {
                <p>@mc.Message --- @mc.CreatedOn</p>
                <div style="margin-left: 120px">
                    <h5 class="font-weight-bold"><i class="fas fa-reply" style="margin-right:10px"></i>Replies:</h5>
                    @{
                        await Html.RenderPartialAsync("_MainCommentPartial", new CarCommentViewModel { CarId = Model.Id, UserId = Model.AddedByUser.Id, MainCommentId = mc.Id });
                    }
                    @foreach (var sc in mc.SubComments)
                    {
                        <p>@sc.Message --- @sc.CreatedOn</p>
                    }
                </div>
            }
        </div>
    </div>
    <br />
    <br />
</body>
</html>

@section Scripts
{
    <script>
        function sendVote(carId, isUpVote) {
            var json = { carId: carId, isUpVote: isUpVote };
            $.ajax({
                url: "/api/votes",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#votesCount").html(data.votesCount);
                }
            });
        }
    </script>
}

